@home-border-color: 1px solid rgba(230, 230, 230, 1);

.home-body-left {
  width: 75%;
  padding: 50px 50px 10px 50px;

  .home-body-left-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;

    .home-top-input {
      width: 60%;
    }

    .home-body-left-sign {
      width: 20%;

      .home-left-nav {
        font-size: 12px;
        display: inline-block;
        margin-left: 8px;
        padding: 4px;
        text-decoration: underline rgb(24, 144, 255);
        cursor: pointer;

        &:hover {
          background-color: rgb(240, 240, 240);
        }
      }
    }

  }

  .home-list-top {
    margin-bottom: 12px;
    border-bottom: @home-border-color;

    .sort-type {
      font-size: 13px;
      color: rgb(150, 150, 150);
      cursor: pointer;
      padding: 5px;
      display: inline-block;
      margin-bottom: 10px;
      transition: background-color .3s;
      position: relative;

      &:hover {
        background-color: rgb(245, 245, 245);
      }
    }

    .sort-type.active {
      font-size: 15px;
      color: #183153;
      background-color: rgb(245, 245, 245);
    }

  }

}

.home-body-right {
  width: 25%;
  border-left: @home-border-color;

  .home-about-me {
    height: 25rem;
    padding: 20px 30px;
    border-bottom: @home-border-color;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    position: relative;

    .avatar-wrapper {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      border: 3px solid black;
      padding: 10px 10px;
    }

    .avatar {
      border-radius: 50%;
      overflow: hidden;
      width: 170px;
      height: 170px;
      position: relative;
      background: url(https://zos.alipayobjects.com/rmsportal/jkjgkEfvpUPVyRjUImniVslZfWPnJuuZ.png) no-repeat center/cover;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }

    .signature {
      text-align: center;
      width: 260px;
      height: 40px;
    }

    .nickname {
      text-align: center;
      width: 120px;
      margin-bottom: 10px;
      color: rgba(0, 0, 0, 0.85);
      font-weight: 600;
      font-size: 20px;
      line-height: 1.4;
      display: flex;
      flex-direction: column;
    }


  }

  .title {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 20px;
    display: inline-block;

    &::before {
      content: "";
      background-color: rgb(26, 137, 23);
      display: inline-block;
      width: 8px;
      border-radius: 50%;
      height: 8px;
      margin-right: 10px;
    }
  }


  .home-other {
    display: flex;
    flex-direction: column;
    padding: 15px 0 0 15px;


    .home-recommend {
      padding-bottom: 10px;
      border-bottom: 1px solid #e6e6e6;
    }


    .home-hot {
      .title {
        margin-top: 16px;
      }
    }

  }
}
